*{
    font-size: 15px;
}
.main{
    display: flex;
}
.bg-theme-color{
    background-color:rgb(45, 102, 182) !important;
}
}
header{
    padding: 10px;

}
.header{
    margin-left: 40px;
}
p{
    color: white;
}
img{
    display: inline-block;
}
.header-btn{
    display: inline-block;
    border: 1px solid rgb(0, 129, 0);
    background-color: white;
    color: black;
}
.nav-pills{
    border-radius: 50px !important;
}
}
.heading{
    display: inline-block;
}
.btn{
    size: 50px;
    color: #01751c !important;
    border: 1px solid #006618 !important;
}
.footer-color{
    color: rgb(128, 128, 128);
}
